{% extends "page.html" %}
{% block content %}
      <!-- Main Content -->
      <div id="main" class="site-main">
        <div id="main-content" class="single-page-content">
          <div id="primary" class="content-area">
            <div id="content" class="page-content site-content" role="main">
              <article class="post">
                <div class="post-thumbnail">
                  <img src="../../static/images/blog/{{ post.image }}.jpg" alt="image">
                </div>
                <div class="post-content">
                  <!-- /Entry header -->
                  <header class="entry-header">
                    <!-- Entry meta -->
                    <div class="entry-meta entry-meta-top">
                      <span><a href="#" rel="category tag">{{ post.category }}</a></span>
                    </div>
                    <!-- /Entry meta -->
                    <h2 class="entry-title">{{ post.title }}</h2>
                  </header>
                  <!-- /Entry header -->
                  <!-- Entry content -->
                  <div class="entry-content">
                    <div class="row">
                      <div class=" col-xs-12 col-sm-12 ">
                        <div class="col-inner">

                          {{ post.html|safe }}

                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /Entry content -->
                  <div class="entry-meta entry-meta-bottom">

                    <div class="row">
                      <div class="col-xs-4 col-sm-4">
                        <div class="my-photo">
                          <img src="../../static/images/profile.jpg" alt="image">
                        </div>
                      </div>
                      <div class="col-xs-8 col-sm-8">
                        <p></p>
                        <h3>Jason Poirier Lavoie</h3>
                        <p>Je suis étudiant en droit à l'université de Montréal et chargé de projet chez Aviation Strategies International, une boite de service-conseils en strategie aeroportuaire. Je siege aussi les conseils d'administration de Atelier de dramaturgie de Montreal et le Centre canadien pour les études stratégiques.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              <div id="comments" class="comments-area">
                <div id="respond" class="comment-respond">
                  <h3 id="reply-title" class="comment-reply-title">Laissez un commentaire</h3>
                </div>
                <div id="gitalk-container"></div>
              </div><!-- #comments -->
            </div><!-- #content -->
          </div>
        </div><!-- #primary -->
      </div><!-- #main-content -->
      <!-- /Main Content -->
{% endblock %}
