    <!-- Website Schema  -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "WebSite",
      "name": "Jason Poirier Lavoie",
      "url": "https://jpoirierlavoie.ca/"
    }
    </script>
    <script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "ProfilePage",
    "breadcrumb": "Acceuil",
    "mainEntity":
    {
      "id": "https://jpoirierlavoie.ca/person.json#",
      "@type": "Person",
      "name": "Jason Poirier Lavoie",
      "familyName": "Poirier Lavoie",
      "givenName": "Jason",
      "gender": "Homme",
      "height": "187 centimetres",
      "nationality": "Canadian",
      "birthDate": "1990-09-21",
      "birthPlace": "Montréal, Québec, Canada",
      "email": "mailto:jpoirierlavoie.ca",
      "telephone": "1 (514) 962-5559",
      "url": "https://jpoirierlavoie.ca",
      "image": "https://jpoirierlavoie.ca/images/profile.jpg",
      "jobTitle": "Étudiant en droit",
      "Description": "Étudiant en droit",
      "worksFor":
      [
        {
          "@type": "Organization",
          "name": "Aviation Strategies International",
          "sameAs": "https://aviationstrategies.aero"
        }
      ],
      "hasCredential":
      {
        "@type": "EducationalOccupationalCredential",
        "name": "Bachelor of Arts, Political Science",
        "credentialCategory": "Bachelor",
        "sameAs": "https://fr.wikipedia.org/wiki/Baccalaur%C3%A9at_universitaire#Canada"
      },
      "alumniOf":
      [
        {
          "@type": "CollegeOrUniversity",
          "name": "Université de Montreal",
          "sameAs": "https://fr.wikipedia.org/wiki/Universit%C3%A9_de_Montr%C3%A9al"
        },
        {
          "@type": "CollegeOrUniversity",
          "name": "Université Concordia",
          "sameAs": "https://fr.wikipedia.org/wiki/Universit%C3%A9_Concordia"
        },
        {
          "@type": "CollegeOrUniversity",
          "name": "École Nationale d'Aérotechnique",
          "sameAs": "https://fr.wikipedia.org/wiki/C%C3%A9gep_%C3%89douard-Montpetit"
        }
      ],
      "sameAs":
      [
        "https://twitter.com/jpoirierlavoie",
        "https://instagram.com/jpoirierlavoie",
        "https://www.facebook.com/jpoirierlavoie",
        "https://ca.linkedin.com/in/jpoirierlavoie",
        "https://github.com/jpoirierlavoie",
        "https://medium.com/@jpoirierlavoie"
      ]
    }
    }
    </script>
